{% extends 'baseRegistro.html' %} {% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="#">Votar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'registrar:votante' %}">Refrescar</a>
      </li>
    </ul>
  </div>
</nav>

{% endblock nav %} {% block body %}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong class="text-dark">{{ message }}</strong>
    </div>
    {% endfor %} {% endif %}
    <h2>Realizar Voto</h2>

    <div class="card">
      <div class="card-body">
        <form action="/registrarVoto/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="text"
              id="txtNoDocumentoVotante"
              name="txtNoDocumentoVotante"
              class="form-control"
              placeholder="No Documento"
              minlength="7"
              maxlength="20"
              required
            />
          </div>
          <div class="form-group">
            <select
              class="form-control"
              id="select-candidato"
              name="select-candidato"
              required
            >
              {% for c in candidato %}
              <option value="{{c.no_documento_candidato}}">
                {{c.nombres_candidato}} {{c.apellidos_candidato}}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block text-white">
              Votar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
